#middle{
    text-align: center;
    color: rgb(189, 126, 8);
    text-decoration: underline;
 
}
#abcd{
    border: 1px solid ;
    margin-left: 570px;
    width: 200px;
    height: 250px;
    margin-top: 90px;

    
}
#color{
    
}
#size{
    width: 30px;
    color: rgb(211, 138, 79);
    background-color: rgb(65, 66, 65);
}
#abcd{
    background-color: rgb(134, 124, 124);
}
#length{
    width: 200px;
    height: 70px;
    
}
#h{
    background-color: rgb(68, 44, 58);
}
    
